<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="home.css">
    </head>

    <body>
        <div class="appBar">

        </div>
        <div class="homeContainer">
            <div class="scraperSelector">
                <div class="scraperItem scraperItemSelected">Finviz</div>
                <div class="scraperItem">Scaper 2</div>
                <div class="scraperItem">Scaper 3</div>
            </div>
            <div class="siteStats">
                <div class="siteStatsSeparator"></div>
                <div class="siteStatsItem">Comapnies: 12</div>
                <div class="siteStatsSeparator"></div>
                <div class="siteStatsItem">Associates: 3</div>
                <div class="siteStatsSeparator"></div>
                <div class="siteStatsItem">Important-info</div>
                <div class="siteStatsSeparator"></div>
                <div class="siteStatsItem">Important-info</div>
            </div>
            <div class="stocksStatsContainer">
            <div class="stocksStats">
                <div class="stocksStatsItem">
                    <div class="arrowUp"></div>
                    <div style="display: flex; flex-direction: column; width: 4vw">
                        <span>Dax</span>
                        <span>18,475.45</span>
                    </div>
                    <div style="display: flex; flex-direction: column; width: 4vw; padding-left: 2vw">
                        <div>-0.39%</div>
                        <div>-42.80</div>
                    </div>
                </div>
                <div class="stocksStatsItem">
                    <div class="arrowUp"></div>
                    <div style="display: flex; flex-direction: column; width: 4vw">
                        <span>Dax</span>
                        <span>18,475.45</span>
                    </div>
                    <div style="display: flex; flex-direction: column; width: 4vw; padding-left: 2vw">
                        <div>-0.39%</div>
                        <div>-42.80</div>
                    </div>
                </div>
                <div class="stocksStatsItem">
                    <div class="arrowUp"></div>
                    <div style="display: flex; flex-direction: column; width: 4vw">
                        <span>Dax</span>
                        <span>18,475.45</span>
                    </div>
                    <div style="display: flex; flex-direction: column; width: 4vw; padding-left: 2vw">
                        <div>-0.39%</div>
                        <div>-42.80</div>
                    </div>
                </div>
                <div class="stocksStatsItem">
                    <div class="arrowUp"></div>
                    <div style="display: flex; flex-direction: column; width: 4vw">
                        <span>Dax</span>
                        <span>18,475.45</span>
                    </div>
                    <div style="display: flex; flex-direction: column; width: 4vw; padding-left: 2vw">
                        <div>-0.39%</div>
                        <div>-42.80</div>
                    </div>
                </div>
                <div class="stocksStatsItem">
                    <div class="arrowUp"></div>
                    <div style="display: flex; flex-direction: column; width: 4vw">
                        <span>Dax</span>
                        <span>18,475.45</span>
                    </div>
                    <div style="display: flex; flex-direction: column; width: 4vw; padding-left: 2vw">
                        <div>-0.39%</div>
                        <div>-42.80</div>
                    </div>
                </div>
                <div class="stocksStatsItem">
                    <div class="arrowUp"></div>
                    <div style="display: flex; flex-direction: column; width: 4vw">
                        <span>Dax</span>
                        <span>18,475.45</span>
                    </div>
                    <div style="display: flex; flex-direction: column; width: 4vw; padding-left: 2vw">
                        <div>-0.39%</div>
                        <div>-42.80</div>
                    </div>
                </div>
                <div class="stocksStatsItem">
                    <div class="arrowUp"></div>
                    <div style="display: flex; flex-direction: column; width: 4vw">
                        <span>Dax</span>
                        <span>18,475.45</span>
                    </div>
                    <div style="display: flex; flex-direction: column; width: 4vw; padding-left: 2vw">
                        <div>-0.39%</div>
                        <div>-42.80</div>
                    </div>
                </div>
                <div style="width: 1vw; height: 10vh"></div>
            </div>
            </div>
        </div>
    </body>
</html>
