<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="home.css">
    </head>

    <body>
        <div class="appBar">

        </div>
        <div class="homeContainer">
            <div class="scraperSelector">
                <a th:href="@{/hello?scraper=0}">
                    <div th:class="${scraper == 0 ? 'scraperItem scraperItemSelected' : 'scraperItem'}">
                        Finviz
                    </div>
                </a>
                <a th:href="@{/hello?scraper=1}">
                    <div th:class="${scraper == 1 ? 'scraperItem scraperItemSelected' : 'scraperItem'}">
                        Market Watch
                    </div>
                <a>
                <a th:href="@{/hello?scraper=2}">
                    <div th:class="${scraper == 2 ? 'scraperItem scraperItemSelected' : 'scraperItem'}">
                        Market Trends
                    </div>
                <a>
            </div>
            <div class="siteStats">
                <div class="siteStatsSeparator"></div>
                <div class="siteStatsItem">Comapnies: 12</div>
                <div class="siteStatsSeparator"></div>
                <div class="siteStatsItem">Associates: 3</div>
                <div class="siteStatsSeparator"></div>
                <div class="siteStatsItem">Important-info</div>
                <div class="siteStatsSeparator"></div>
                <div class="siteStatsItem">Important-info</div>
            </div>
            <div class="stocksStatsContainer">
            <div class="stocksStats">
                <div class="stocksStatsItem" id="ssi-1" style="position: absolute; left: 0vw">
                    <div class="arrowUp"></div>
                    <div style="display: flex; flex-direction: column; width: 4vw">
                        <span th:text="${stocksDataList[0].name}"></span>
                    </div>
                    <div style="display: flex; flex-direction: column; width: 4vw; padding-left: 2vw">
                        <div th:text="${stocksDataList[0].percentChange}"></div>
                        <div th:text="${stocksDataList[0].value}"></div>
                    </div>
                </div>
                <div class="stocksStatsItem" id="ssi-2" style="position: absolute; left: 16vw">
                    <div class="arrowUp"></div>
                    <div style="display: flex; flex-direction: column; width: 4vw">
                        <span th:text="${stocksDataList[1].name}"></span>
                    </div>
                    <div style="display: flex; flex-direction: column; width: 4vw; padding-left: 2vw">
                        <div th:text="${stocksDataList[1].percentChange}"></div>
                        <div th:text="${stocksDataList[1].value}"></div>
                    </div>
                </div>
                <div class="stocksStatsItem" id="ssi-3" style="position: absolute; left: 32vw">
                    <div class="arrowUp"></div>
                    <div style="display: flex; flex-direction: column; width: 4vw">
                        <span th:text="${stocksDataList[2].name}"></span>
                    </div>
                    <div style="display: flex; flex-direction: column; width: 4vw; padding-left: 2vw">
                        <div th:text="${stocksDataList[2].percentChange}"></div>
                        <div th:text="${stocksDataList[2].value}"></div>
                    </div>
                </div>
                <div class="stocksStatsItem" id="ssi-4" style="position: absolute; left: 48vw">
                    <div class="arrowUp"></div>
                    <div style="display: flex; flex-direction: column; width: 4vw">
                        <span th:text="${stocksDataList[3].name}"></span>
                    </div>
                    <div style="display: flex; flex-direction: column; width: 4vw; padding-left: 2vw">
                        <div th:text="${stocksDataList[3].percentChange}"></div>
                        <div th:text="${stocksDataList[3].value}"></div>
                    </div>
                </div>
                <div class="stocksStatsItem" id="ssi-5" style="position: absolute; left: 64vw">
                    <div class="arrowUp"></div>
                    <div style="display: flex; flex-direction: column; width: 4vw">
                        <span th:text="${stocksDataList[4].name}"></span>
                    </div>
                    <div style="display: flex; flex-direction: column; width: 4vw; padding-left: 2vw">
                        <div th:text="${stocksDataList[4].percentChange}"></div>
                        <div th:text="${stocksDataList[4].value}"></div>
                    </div>
                </div>
                <div class="stocksStatsItem" id="ssi-6" style="position: absolute; left: 80vw">
                    <div class="arrowUp"></div>
                    <div style="display: flex; flex-direction: column; width: 4vw">
                        <span th:text="${stocksDataList[5].name}"></span>
                    </div>
                    <div style="display: flex; flex-direction: column; width: 4vw; padding-left: 2vw">
                        <div th:text="${stocksDataList[5].percentChange}"></div>
                        <div th:text="${stocksDataList[5].value}"></div>
                    </div>
                </div>
                <div class="stocksStatsItem" id="ssi-7" style="position: absolute; left: 96vw">
                    <div class="arrowUp"></div>
                    <div style="display: flex; flex-direction: column; width: 4vw">
                        <span th:text="${stocksDataList[6].name}"></span>
                    </div>
                    <div style="display: flex; flex-direction: column; width: 4vw; padding-left: 2vw">
                        <div th:text="${stocksDataList[6].percentChange}"></div>
                        <div th:text="${stocksDataList[6].value}"></div>
                    </div>
                </div>
                <div class="stocksStatsItem" id="ssi-7" style="position: absolute; left: 112vw">
                    <div class="arrowUp"></div>
                    <div style="display: flex; flex-direction: column; width: 4vw">
                        <span th:text="${stocksDataList[7].name}"></span>
                    </div>
                    <div style="display: flex; flex-direction: column; width: 4vw; padding-left: 2vw">
                        <div th:text="${stocksDataList[7].percentChange}"></div>
                        <div th:text="${stocksDataList[7].value}"></div>
                    </div>
                </div>
            </div>
            </div>

            <div th:if="${generate}" class="chartsContainer">
                <div class="mainPlots">
                    <img 
                        id="firstChart"
                        th:src="@{/plots/sentiment_analysis_bar.png}"
                        style="width: 70vw"
                    >
                    <img 
                        id="secondChart"
                        th:src="@{/plots/sentiment_analysis_pyramid.png}"
                        style="width: 70vw"
                    >
                </div>
                <div class="subPlots">
                    <div th:each="subplot : ${subplots}" style="display: flex; flex-direction: column; align-items: center;">
                         <img 
                             th:src="${subplot}"
                             class="subPlotImg"
                         >
                         <span class="subPlotTitle" th:text="${#strings.substring(subplot, 35, 39)}"></span>
                    </div>
                </div>
            </div>

            <form th:action="@{/hello}" th:method="POST">
            <div class="companySelect">
                <div class="companySelectItem">
                    <div class="imageDiv">
                        <img 
                            src="https://static.vecteezy.com/system/resources/previews/018/930/698/original/facebook-logo-facebook-icon-transparent-free-png.png"
                            style="height: 33vh; width: 18vw"
                        />
                    </div>
                    <div class="checkBoxDiv">
                        <div class="checkbox-wrapper-17">
                            <input type="checkbox" id="switch-17" name="metaChecked" /><label for="switch-17"></label>
                        </div>
                    </div>
                </div>
                <div class="companySelectItem">
                    <div class="imageDiv">
                        <img 
                            src="https://www.freeiconspng.com/thumbs/amazon-icon/amazon-icon--socialmedia-iconset--uiconstock-0.png"
                            style="height: 31vh; width: 17vw"
                        />
                    </div>
                    <div class="checkBoxDiv">
                        <div class="checkbox-wrapper-17">
                            <input type="checkbox" id="switch-18" name="amazonChecked" /><label for="switch-18"></label>
                        </div>
                    </div>
                </div>
                <div class="companySelectItem">
                    <div class="imageDiv">
                        <img 
                            src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/227_Netflix_logo-512.png"
                            style="height: 30vh; width: 16vw"
                        />
                    </div>
                    <div class="checkBoxDiv">
                        <div class="checkbox-wrapper-17">
                            <input type="checkbox" id="switch-19" name="netflixChecked" /><label for="switch-19"></label>
                        </div>
                    </div>
                </div>
                <div class="companySelectItem">
                    <div class="imageDiv">
                        <img 
                            src="https://pngimg.com/d/microsoft_PNG13.png"
                            style="height: 29vh; width: 15vw"
                        />
                    </div>
                    <div class="checkBoxDiv">
                        <div class="checkbox-wrapper-17">
                            <input type="checkbox" id="switch-20" name="microsoftChecked" /><label for="switch-20"></label>
                        </div>
                    </div>
                </div>
                <div class="companySelectItem">
                    <div class="imageDiv">
                        <img 
                            src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png"
                            style="height: 33vh; width: 18vw"
                        />
                    </div>
                    <div class="checkBoxDiv">
                        <div class="checkbox-wrapper-17">
                            <input type="checkbox" id="switch-21" name="googleChecked" /><label for="switch-21"></label>
                        </div>
                    </div>
                </div>
                <div class="companySelectItem">
                    <div class="imageDiv">
                        <img 
                            src="https://cdn.freebiesupply.com/images/large/2x/nvidia-logo-black-and-white.png"
                            style="height: 29vh; width: 15vw"
                        />
                    </div>
                    <div class="checkBoxDiv">
                        <div class="checkbox-wrapper-17">
                            <input type="checkbox" id="switch-22" name="nvidiaChecked" /><label for="switch-22"></label>
                        </div>
                    </div>
                </div>
                <div class="companySelectItem">
                    <div class="imageDiv">
                        <img 
                            src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Tesla_logo.png"
                            style="height: 33vh; width: 18vw"
                        />
                    </div>
                    <div class="checkBoxDiv">
                        <div class="checkbox-wrapper-17">
                            <input type="checkbox" id="switch-23" name="teslaChecked" /><label for="switch-23"></label>
                        </div>
                    </div>
                </div>
                <div class="companySelectItem">
                    <div class="imageDiv">
                        <img 
                            src="https://www.logo.wine/a/logo/Boeing/Boeing-Logo.wine.svg"
                            style="height: 33vh; width: 18vw"
                        />
                    </div>
                    <div class="checkBoxDiv">
                        <div class="checkbox-wrapper-17">
                            <input type="checkbox" id="switch-24" name="boeingChecked" /><label for="switch-24"></label>
                        </div>
                    </div>
                </div>
                <div style="display: flex; justify-content: flex-end; width: 96vw; height: 5vh">
                    <input type="submit" value="Submit" class="submitButton" />
                </div>
                <div style="height: 10vh; width: 100vw">
                </div>
            </div>
            </form>
        </div>

        <script type="text/javascript" src="home.js"></script>
    </body>
</html>
